
<div class="details">
  <div class="info-boxes">
    <span class="number-tag">{{this.post.label}} </span>
    <span class="number-tag">{{this.post.description}}</span>

    {{#if this.post.ValidFrom}}
      <span class="additional-info2">{{format-date this.post.ValidFrom}} </span>
    {{/if}}

    {{#if this.post.ValidTo}}
      <span class="additional-info1">{{format-date this.post.ValidTo}} </span>
    {{/if}}
  </div>
</div>
