<article class="listing">

  <div class="details">
    <h3>{{this.post.description}}</h3>
    <div class="info-boxes">
      <span class="info-box">No: {{this.post.label}} </span>
      <span class="info-box">Status: <b>{{this.post.status}}</b> </span>
    </div>
  </div>
  <p> <i> More info about municipality</i></p>
</article>
