{{#radio-button
  value='one'
  groupValue=number
  checked=selectedNumber
  changed="valueToggeled"}}
  One
{{/radio-button}}

{{#radio-button
  value='two'
  groupValue=number
  checked=selectedNumber
  changed="valueToggeled"}}
  Two
{{/radio-button}}

{{#radio-button
  value='three'
  groupValue=number
  checked=selectedNumber
  changed="valueToggeled"}}
  Three
{{/radio-button}}
<h3> This is current value: {{groupValue}} </h3>

{{yield}}
