.box-set {

}
.box {
  float: left;
  margin: 1.858736059%;
  width: 29.615861214%;
}

.RadioButtons {
  /*
  background-color: #0f0f0f;
  */
}

.details {
}

.info-boxes {

}
.info-box {
  margin: 1.858736059%;

}
