<h1> This is our post route </h1>

<div class="box-set">

  <CombinedSearch class="box"
    @filter={{action "filterByNameAndButton"}}
    as |filteredResults|
    >
    <ul class="results">
      <h3><b>Output:</b></h3>
      {{#each filteredResults as |resUnit|}}
        <li><PostListing @post={{resUnit}} /></li>
      {{/each}}
    </ul>
  </CombinedSearch>

</div>
{{outlet}}
