<div class="wrapper">
  <CombinedSearch class="box"
    @filter={{action "filterByNameAndButton"}}
    as |filteredResults|
    >
    <ul class="results">
      <div class ="info-bar">
        <span class = "info-bar-item1">MunNo:</span>
        <span class = "info-bar-item1">Name:</span>
        <span class = "info-bar-item2">Activated:</span>
        <span class = "info-bar-item2">Discontinued:</span>
      </div>

      {{#each filteredResults as |resUnit|}}
        <li><PostListing @post={{resUnit}} /></li>
      {{/each}}

    </ul>
  </CombinedSearch>
</div>
{{outlet}}
